<h4 class="bg-danger text-white text-center p-3">Product List</h4>
{{selectedProduct | json}}
<table class="table table-striped table-active">
    <thead><tr><th>ProductName</th><th>Price</th><th>Stock</th><th></th></tr></thead>
    <tbody>
        <tr *ngFor="let item of productList">
            <td>{{item.ProductName}}</td>
            <td>{{item.UnitPrice}}</td>
            <td>{{item.UnitsInStock}}</td>
            <td>
                <!--place the edit ,view and delete buttons here-->
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-primary" (click)="select(item)">View</button>
                    <button class="btn btn-warning">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </div>
            </td>

        </tr>
    </tbody>
</table>


